@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');

:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #eee;
    --blue: #0df8fc;
    --pink: #f80dfc;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #FFF;
}

header {
    max-width: 800px;
    margin-left: 1rem;
}

/* header h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--gray);
    margin-bottom: 1rem;
    margin: 0;
    font-size: 4em;
    margin-top: .75rem;
    margin-bottom: 1.5rem;
    display:flex;
    color: whitesmoke;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em var(--pink), 0 0 0.3em var(--pink);
} */

h1 {
text-transform: Uppercase;
margin-bottom: .5em;
font-family: 'Rubik', sans-serif;
font-size: 4rem;
 }

h1 {
position: relative;
-webkit-background-clip: text; 
-webkit-text-fill-color: var(--gray)
}

h1 {
text-shadow: 5px 3px 10px var(--darkest);
}

h1 span {
    color: var(--pink);
    font-family: 'Rubik', sans-serif;
    background-image: linear-gradient(to right, var(--pink), var(--blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}
        

#new-task-form {
    display: flex;
}
input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#new-task-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--light);
    font-size: 1.5rem;
}
#new-task-input::placeholder {
    color: var(--gray);
}
#new-task-submit {
    color: var(--pink);
    font-size: 1.5rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

main h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-left: auto;
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

input[type="checkbox"] {
    padding: 1rem;
    cursor: pointer;
    appearance: none;
    background-color: var(--gray);
    margin: 0;
    font: inherit;
    width: 1em;
    height: 1em;
    border: .2em solid var(--dark);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]:hover {
    border: 0.2em solid var(--pink);
}

input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--blue);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}


.task .content {
    flex: 1 1 0%;
}

.task .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
    padding-left: 1rem;
    padding-top: 8px
}

.task .content .text:not(:read-only) {
    color: var(--blue);
}

.task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    color: crimson;
}

