@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');

:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --lightgray: #b8bbbf;
    --light: #eee;
    --blue: #0df8fc;
    --pink: #f80dfc;
    --green: #85f702;
    --blue2: #3798fa;
    --red: #fa0702;
    --yellow: #fae102;
}

* {
    box-sizing:border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}


body {
    display: flex;
    margin-left: auto;
    min-height: 100vh;
    min-width: 100vw;
    background: var(--dark);
    color: #FFF;
}

.nav {
    width: 100%;
    height: 105px;
    background-color: var(--darker);
    position: fixed;
    text-align: left;
    z-index: 4;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: .25rem;
    z-index: 1;
}

.nav .menu-access {
    display: flex;
    margin: 0 auto;
    float: right;
    height: 1px;
    min-width: 90px;
    z-index: 4;
}

.nav label {
    height: 90px;
    width: 90px;
    z-index: 5;
}

.nav .hamburger {
    line-height: 20px;
    margin-top: 1.25rem;
    position: fixed;
    top: 1px;
    right: 20px;
    z-index: 7;
    width: 75px;
    height: 75px;
}

.nav .hamburger .line {
    display: inline-block;
    height: 6px;
    width: 65px;
    border-radius: 6px;
    background: var(--gray);
  }
  
  .nav .hamburger .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav .hamburger .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav .hamburger .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

.nav .menu-items {
    list-style: none;
    background-image: linear-gradient(to bottom, var(--darkest), var(--dark));
    height: 92vh;
    width: 100vw;
    display: flex;
    transform: translateY(-1000px);
    flex-direction: column;
    transition: transform .6s ease-in-out;
    text-align: center;
    opacity: .975;
    z-index: 3;
}


.nav .menu-items li {
    margin: auto;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav .menu-items li a {
    text-decoration: none;
    font-weight: 400;
    color: var(--lightgray);
    opacity: .95;
    transition: .3s ease-in-out;
}

.nav .menu-items li #sign-out {
    text-decoration: none;
    font-weight: 400;
    color: var(--lightgray);
    opacity: .95;
    transition: .3s ease-in-out;
}

.nav .menu-items li a:hover {
    color: #ffa500;
}

.nav .menu-items li #sign-out:hover {
    color: crimson;
}

.nav .menu-access input#menu-check {
    position: absolute;
    display: block;
    height: 75px;
    width: 75px;
    top: 10px;
    right: 20px;
    z-index: 8;
    opacity: .5;
    cursor: pointer;
}

.nav .menu-access input#menu-check:checked~.menu-items {
    transform: translateY(-90px);
}

.nav .menu-access input#menu-check:checked~.hamburger .line1 {
    transform: rotate(40deg);
}

.nav .menu-access input#menu-check:checked~.hamburger .line2 {
    transform: scale(0);
}

.nav .menu-access input#menu-check:checked~.hamburger .line3 {
    transform: rotate(-40deg);
}


h1 {
text-transform: Uppercase;
font-family: 'Rubik', sans-serif;
font-size: 1.4rem;
color: var(--light);
line-height: 2rem;
position: left;
margin-top: 3px;
text-shadow: 5px 3px 10px var(--darkest);
}

#logobox {
    width: 400px;
    margin: auto;
}

#logo {
    line-height: 7rem;
    font-size: 5rem;
}

#logotick1 {
    color: var(--gray);
    border: 4px solid var(--gray);
}

#logotick2 {
    color: var(--gray);
    border: 4px solid var(--gray);
}

#logotick3 {
    color: orange;
    border: 4px solid var(--gray);
}

#tick1 {
    color: var(--gray);
    font-family: 'Rubik', sans-serif;
    text-shadow: none;
    border: 2px solid var(--gray);
    font-size: 1.3rem;
}

#tick2 {
    color: var(--gray);
    font-family: 'Rubik', sans-serif;
    text-shadow: none;
    border: 2px solid var(--gray);
    font-size: 1.3rem;
}

#tick3 {
    color: orange;
    font-family: 'Rubik', sans-serif;
    text-shadow: none;
    border: 2px solid var(--gray);
    font-size: 1.3rem;
}

div#task-entry {
    z-index: 2;
    position: fixed;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    max-width: 500px;
}

#new-task-form {
    display: flex;
    margin: auto;
    margin-top: 1rem;

}

#new-task-input {
    display: flex;
    border-radius: 1rem;
    background-color: orange;
    opacity: .945;
    width: 50vw;
    min-width: 300px;
    padding: 1rem;
    color: var(--light);
    font-size: 1.5rem;
}

#new-task-input::placeholder {
    color: var(--darker);
}
#new-task-submit {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: .5rem;
    color: var(--light);
    text-shadow: 1px 1px 1px var(--darkest);
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

main {
    flex:auto;
    max-width: 65%;
    min-width: 450px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.task-list {
    padding: 1rem;
}

main h2 {
    text-align: center;
    padding-top: 0;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 3.5rem;
    color: var(--light);
    text-shadow: 3px 3px 3px var(--darkest);
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}

.task input[type="checkbox"] {
    padding: 1rem;
    cursor: pointer;
    appearance: none;
    background-color: var(--gray);
    margin: 0;
    width: 1em;
    height: 1em;
    border: .2em solid var(--dark);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    z-index: 0;
    place-content: center;
    transition: 0.3s;
}

.task input[type="checkbox"]:hover {
    border: 0.2em solid var(--blue);
}

.task input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em orange;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.task input[type="checkbox"]:checked::before {
    transform: scale(1);
} 


.task .content {
    flex: 1 1 0%;

}

.task .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    transition: 0.4s;
    padding-left: 1rem;
    padding-top: 8px
}

.task .content .text:not(:read-only) {
    color: var(--blue);
}

.task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
    opacity: 0.5;
}

.task .actions .edit {
    color: orange;
    text-shadow: 1px 1px 1px black;
}

.task .actions .edit:hover {
    opacity: 1;
}

.task .actions .delete {
    color: crimson;
    text-shadow: 1px 1px 1px black;
}

.task .actions .delete:hover {
    opacity: 1;
}

