// src/components/Navigation/Navigation.module.scss
@import "../../assets/styles/variables", "../../assets/styles/global.scss";

.navContainer {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  margin: 0 auto;
  padding: 16px;
  overscroll-behavior: contain;
  transform: translateX(-50%);
}

.topNav {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  border-radius: 8px;
  padding: 16px 32px;
  overflow: visible;
  background: $nav-background;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.1);
}

.navLink {
  color: $text-secondary;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  margin: 0 8px;
  border-radius: 25px;
  transition: all 0.3s ease;
  font-size: 14px;

  &:hover,
  &.active {
    color: $text-primary;
    background-color: rgba($accent-blue, 0.1);
  }
}
